@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
body{
    font-family: 'Black And White Picture', sans-serif;
    background-color: green;
}

section#background{
    background-image: url(/img/background-erde.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 800px;
    justify-content: center;
    height: 600px;
}

h1#seitentitel{
    text-align: center;
    font-size: 60px;
}

div#divMonster{
    max-width: 50%;
    max-height: 100%;
    margin-left: auto;
}

img#monster{
    width: 20%;
}

img#handy{
    width: 10%;
    padding-left: 700px;
    padding-top: 200px;
}